<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>AV Search</title>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>

    <script src="https://cdn.jsdelivr.net/riot/3.2/riot.min.js"></script>

    <script th:src="@{/js/search-box.js}"
	    src="../static/js/search-box.js"></script>
    <script th:src="@{/js/items.js}"
	    src="../static/js/items.js"></script>

    <header>
      <search-box></search-box>
    </header>

    <div>
      <items></items>
    </div>

    <script th:inline="javascript">
     riot.mount('search-box', {query: '湊莉久'});
     riot.mount('items', {
       items:  /*[[${items}]]*/ [{}]
     });
    </script>

  </body>
</html>
